@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono:ital,wght@0,300;1,500&family=Work+Sans:wght@400&display=swap');

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Work Sans', sans-serif;
}
